@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img {margin:0;padding:0;} 
table {border-collapse:collapse;   border-spacing:0;} 
fieldset,img {border:0;} 
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;} 
dl, dt, dd, img, ul, ol, li {margin:0;padding:0; border:0;list-style:none;}
caption,th {text-align:left;} 
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;} 
q:before,q:after {content:'';} 
abbr,acronym {border:0;} 
a{color:#272b2f;text-decoration:none;}
a:hover{color:#272b2f; text-decoration:underline; }
a img {border:none;}
.hide{visibility:hidden;}
.clear{clear:both;}
img, div, input,li{behavior: url("css/iepngfix.htc");}
body{ font-size:12px;font-family:Arial,"宋体"; color:#272b2f; background:#f0f0f0;}

.main{width:990px; margin:0 auto;}
.logo{float:left; padding:17px 0;}

.header{ background:url(../images/header_line.gif) repeat-x; overflow:hidden;}
.header_list{width:990px; margin:0 auto; height:135px;}
.header_right{ float:right; width:250px;}
.header_icon{ color:#fff; }
.header_icon a{color:#fff; display:block;}
.header_icon a:hover{color:#fff; text-decoration:none;}
.header_icon p{ float:left; text-align:center; color:#fff;}
.header_icon_1{ background:url(../images/top_icon1.gif) no-repeat; width:73px; height:22px; line-height:20px;}
.header_icon_2{ background:url(../images/top_icon2.gif) no-repeat; width:94px; height:22px; line-height:20px;}
.header_icon_3{ background:url(../images/top_icon3.gif) no-repeat; width:83px; height:22px; line-height:20px;}
.header_input{ width:230px; float:right; padding-top:23px;}
.header_input p{ float:left;}
.header_zbg{ width:177px; height:30px; border:none; line-height:30px; color:#000; background:url(../images/input_zbg.gif) repeat-x;}
.header_search{ width:47px;height:30px; }
.header_searchbg{ background:url(../images/input_search.gif) no-repeat; width:47px; height:30px; border:none; cursor:pointer;}
.header_text{color:#272b2f; height:32px; line-height:34px; }
.header_text a{ text-decoration:underline; }
.header_text a:hover{ text-decoration:none;}


/*categories.html*/
.categories_banner{background:url(../images/categories/bar_bg.gif) repeat-x; height:309px;}
.categories_banner p{ width:990px; margin:0 auto;}

.content{ width:990px;}
.categ_left{float:left; width:245px;}
ul.categ_navi{ width:245px; font-size:16px; color:#fff; }
ul.categ_navi li{width:245px; height:40px; line-height:40px; text-indent:0.9em; background:url(../images/categories/left_navbg.gif) no-repeat;}
ul.categ_navi li a{ color:#fff; display:block; text-decoration:none;}
ul.categ_navi li.current{ width:245px; height:40px; background:url(../images/categories/left_navbg2.gif) no-repeat;}
.categ_filter{ padding-top:20px;}
.filter_ti{ background:url(../images/categories/left_tibg.gif) no-repeat; color:#fff;text-indent:1.2em; height:28px; line-height:30px;}
.filter_box{width:243px; height:auto; background:#fff;border:1px #434343 solid; border-top:none; padding-top:5px; overflow:hidden;}
.filter_title{ font-weight:bold; color:#0d86d1; width:233px; height:26px; line-height:28px; background:#e3e3e3; margin-left:5px; text-indent:0.7em;}

ul.filter_list,ul.filter_list2{ padding:13px 0 0 0;}
ul.filter_list li{ width:70px;  padding:0 0 13px 38px; float:left;}
ul.filter_list li p,ul.filter_list2 li p{ float:left; color:#434343;}
ul.filter_list li p,checkbox,ul.filter_list2 li p.checkbox{ padding:1px 6px 0 0;}
ul.filter_list2 li{ width:150px; padding:0 0 13px 38px; float:left;}

.categ_right{ float:right; width:722px;}


.filter_icon{margin:2px 0 16px 40px; float:left; color:#272b2f; width:164px; height:30px; line-height:30px; text-align:center;
background:url(../images/categories/left_iconbg.gif) no-repeat;}
.filter_icon a{color:#272b2f; text-decoration:none; display:block;}



.pager{ color:#fff;  background:url(../images/categories/content_tibg.gif) no-repeat; height:41px; }
.pager a{ color:#fff;}
.categ_r01{font-size:16px; float:left; width:500px; line-height:41px;}
.categ_r01 p{ float:left;}
.categ_rfont12{font-size:12px;}
.categ_rfont14{font-size:14px; padding:0 7px 0 2px;}
.categ_rfont16{font-size:16px; padding-left:15px;}

/* added on 0702 by wenbo */
.pager_cont { width:162px; line-height:41px; float:right; padding-right:9px;}
.pager_cont li{ float:left;}
.pager_cont li{ color:#fff; text-align:center; height:16px; padding:13px 0px 0 8px; }
.pager_cont li a{ color:#fff; background:#434343; height:16px; line-height:16px; display:block; text-decoration:none; }
.pager_cont li.num a.cur{ color:#fff;width:16px; height:16px; background:url(../images/categories/pagination_icon.gif) no-repeat;}
.pager_cont .page_prev{
  margin-right: 10px;
}
.pager_cont .page_prev a.cur, .pager_cont .page_next a.cur {
  color: #959595;
}
/* added on 0702 by wenbo */

.categ_rboxlist{width:720px; background:#fff; overflow:hidden; border:1px #434343 solid; border-top:none; padding-bottom:30px;}
.categ_compare{ padding:26px 0 0 35px; overflow:hidden;}
.checkbox{ padding-right:6px;}
.categ_rboxlist a{ margin-top:12px; display:block;}
.categ_rbox{width:152px; float:left; padding-left:66px;}
.categ_rbox p{float:left;}
.categ_rboxtext{width:152px;color:#666; padding:11px 0 10px 0; line-height:21px; text-align:center; }
.categ_rboxtext span{ font-size:14px; color:#000;}
.categ_rboxtext span a{color:#000;}
.categ_rboxic{width:142px; height:26px; line-height:26px; color:#272b2f;margin-left:5px; text-align:center; background:url(../images/categories/detail_iconbg.gif) no-repeat;}
.categ_rboxic a{color:#272b2f; display:block; text-decoration:none; margin:0;}
.categ_rbox_line{width:680px; height:1px; border-bottom:1px #e7e7e7 solid; margin:29px 0 0 20px;}

.footer{border-top:1px #ccc solid; margin-top:20px;}
.back_ictop{ width:990px; margin:0 auto;}
.back_top{float:right; width:83px;  color:#fff; height:28px; line-height:28px; text-align:center; background:url(../images/categories/back_iconbg.gif) no-repeat;}
.back_top a{color:#fff; display:block; text-decoration:none;}
.footer_list{ padding-top:18px;}
.footer_title{font-size:14px; color:#272b2f; padding-bottom:12px;}
ul.footer_list{ float:left; padding-right:50px;}
ul.footer_list li{ width:197px; background:url(../images/footer_arrow.gif) no-repeat left; text-indent:1.3em; line-height:18px; padding-bottom:3px;}
ul.footer_list li a{color:#666; text-decoration:underline;}
ul.footer_list li a:hover{color:#666; text-decoration:none;}

.footer2{ padding:46px 0 30px 0;}
.footer2_text{float:left; color:#272b2f; }
.footer2_text a{color:#272b2f;}
.footer2 ul{ float:right; padding-bottom:57px;}
.footer2 ul li{ float:left; padding-left:10px;}





/*index.html*/
.in_list01{ border-top:1px #ccc solid;border-bottom:1px #ccc solid; overflow:hidden; width:1440px;}
.in_list01 ul li{ float:left;}
.in_listc1{width:480px; float:left; }
.in_listc1_ti{text-align:center; margin:0 auto; height:49px; line-height:49px; border-right:1px #ccc solid ;background:url(../images/in_arrow1.gif) no-repeat center; padding-left:75px; border-bottom:3px #272b2f solid;}

.in_listc1_ti2{text-align:center; margin:0 auto; height:49px; line-height:49px; border-right:1px #ccc solid ;background:url(../images/in_arrow2.gif) no-repeat center; padding-left:180px; border-bottom:3px #0e6eb8 solid;}
.in_listc1_ti3{text-align:center;  margin:0 auto; height:49px; line-height:49px; border-right:1px #ccc solid ;background:url(../images/in_arrow3.gif) no-repeat center; padding-left:130px; border-bottom:3px #ae0034 solid;}

.in_listc1_bigimg{ position:relative; float:left;}
#in_arrow_L {position:absolute;left:7px;top:219px;width:40px;height:40px;z-index:1;}
#in_arrow_R {position:absolute;right:7px;top:219px;width:40px;height:40px;z-index:1;}

.in_left{float:left; width:721px;}
.in_left_ti{height:25px; color:#272b2f; border-bottom:1px #ccc solid; padding-top:25px; }
.in_left_til{font-size:16px; float:left; padding-left:12px;}
.in_left_more{float:right; padding-right:10px;} 
.in_left01{width:721px;}
.in_left01 p{float:left;}
.in_left01_arrow{padding-top:126px;}
.in_left01_title{ font-weight:bold; line-height:30px; float:left;  font-size:14px; padding:0 32px 0 50px; margin-top:-13px;}
.in_left01_title span,.in_left02_title span{ font-size:28px;}
.in_left01img { padding-top:20px;}
.in_left01_icon{ padding-left:22px;}
.in_left01_text{ clear:both; font-size:14px; line-height:18px; padding:12px 0 21px 51px;}

.in_left01 ul{ clear:both; padding-left:310px;}
.in_left01 ul li{ float:left; padding-left:3px;}
.in_left01img_02{padding:20px 0 0 30px;}



.in_left02list{ width:721px;}
.in_left_ti02{height:25px; width:343px; color:#272b2f; border-bottom:1px #ccc solid; padding-top:25px; }
.in_left02{ float:left; width:343px;}
.in_left02img{padding:37px 0 0 46px;}
.in_left02_title{ font-weight:bold; line-height:30px; float:left;  font-size:14px; padding:0 21px 0 50px; margin-top:-4px;}
.in_left02_icon{ padding-top:8px; }
.in_left02_text{ font-size:14px; line-height:18px; padding:17px 0 21px 51px;}


.in_left03_text{line-height:18px; font-size:14px; padding:29px 0 17px 80px;}
.in_left03_img{padding:0 0 48px 80px;}
ul.in_fotimg li{ float:left; padding-bottom:20px;}

.in_right{ float:right; width:245px; padding-top:20px;}
ul.in_right_icon{ padding-top:10px;}
ul.in_right_icon li{ float:left; margin:0 10px 5px 0; background:url(../images/in_ricon.gif) no-repeat; width:75px; height:25px; line-height:25px; font-size:16px; text-align:center;}
ul.in_right_icon li a{ display:block; text-decoration:none;}

.in_rightlist{ border-bottom:1px #ccc solid;}
.in_rightlist_ti{ height:51px;line-height:51px; }
.in_rightlist_ti p{float:left;}
.in_rightlist_text{ color:#b6003d;}
.in_rightlist_text span{ font-size:18px;  color:#272b2f;}
.in_cprimg{ padding-left:26px;}
.in_ricon{margin:0 auto;background:url(../images/left_iconbg.gif) no-repeat; width:164px; height:31px; line-height:32px; text-align:center; padding-bottom:19px;}
.in_ricon a{ display:block; text-decoration:none;}
.in_rc1{text-align:center;}
.in_rysti{ font-size:11px; color:#0d6fb8; padding:16px 0 12px 0;}
.in_rimg6{ padding-bottom:15px;}




/*series.html*/
.series_Clist{border-bottom:1px #ccc solid; overflow:hidden;}
.series_list{ width:990px; margin:0 auto;}
.series_left{float:left; width:374px;}
.series_title{line-height:30px; font-weight:bold; padding-top:11px;}
.series_title span{font-size:28px;}
.series_font20{font-size:20px; padding:25px 0 7px 0;}
.series_font14{font-size:14px;}
ul.series_lb{padding-top:17px;}
ul.series_lb li{background:url(../images/series/icon.gif) no-repeat left; text-indent:1em; line-height:24px;}
ul.series_icon{border-right:1px #ccc solid; float:left; margin-top:13px;}
ul.series_icon li{float:left; background:url(../images/series/icon_bg.gif) no-repeat; width:73px; height:23px; line-height:24px; border:1px #ccc solid;
text-align:center; font-size:16px; border-right:none;}
ul.series_icon li a{display:block; text-decoration:none;}

ul.series_limg{clear:both;}
ul.series_limg li{float:left; padding-right:6px;}
.series_right{ float:right;}
ul.series_djicon{ float:right;}
ul.series_djicon li{ float:left;}