<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SHARP AQUOS | 液晶电视</title>
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <script src="./jquery-1.6.1.min.js" type="text/javascript"></script>
    <script src="./filterfactor.js" type="text/javascript"></script>
    <script src="./filterfactor.datalist_1.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="header">
      <div class="header_list">
        <p class="logo"><img src="images/logo.gif" /></p>
        <div class="header_right">
          <div class="header_icon">
            <p class="header_icon_1"><a href="#">首页</a></p>
            <p class="header_icon_2"><a href="#">产品世界</a></p>
            <p class="header_icon_3"><a href="#">服务支持</a></p>
          </div>
          <div class="header_input">
            <p><img src="images/input_left.gif" /></p>
            <p class="header_zbg">
            <input name="textfield" type="text" class="header_zbg" id="textfield" value="Search..." />
            </p>
            <p class="header_search">
            <input type="button" class="header_searchbg" />
            </p>
          </div>
        </div>
        <p class="clear"></p>
        <p class="header_text"><a href="#">首页</a> > <a href="#">产品世界</a> > <a href="#">液晶电视</a> > 产品目录</p>
      </div>
      <div class="categories_banner">
        <p><img src="images/categories/banner.jpg" /></p>
      </div>
    </div>
    <div class="main">
      <div class="content">
        <div class="categ_left">
          <ul class="categ_navi">
            <li><a href="#">4K2K</a></li>
            <li><a href="#">AQUOS Quattron 3D</a></li>
            <li><a href="#">AQUOS 3D</a></li>
            <li><a href="#">AQUOS Quattron</a></li>
            <li><a href="#">中端机型</a></li>
            <li><a href="#">标准机型</a></li>
          </ul>
          <div id="filterfactor" class="categ_filter">
            <p class="filter_ti">产品筛选</p>
            <div class="filter_box">
              <p class="filter_title">尺寸</p>
              <ul class="filter_list bar2_cont_ul_1" ftype="0">
                <li>
                <p class="checkbox">
                <input name="para1" type="checkbox" value="80" id="para1-0" rsid="1" onclick="filterfactor.tClick(this);" />
                </p>
                <p><label for="para1-0">80英寸</label></p>
                </li>
                <li>
                <p class="checkbox">
                <input name="para1" type="checkbox" value="70" id="para1-1" rsid="1" onclick="filterfactor.tClick(this);" />
                </p>
                <p><label for="para1-1">70英寸</label></p>
                </li>
                <li>
                <p class="checkbox">
                <input name="para1" type="checkbox" value="60" id="para1-2" rsid="1" onclick="filterfactor.tClick(this);" />
                </p>
                <p><label for="para1-2">60英寸</label></p>
                </li>
                <li>
                <p class="checkbox">
                <input name="para1" type="checkbox" value="52" id="para1-3" rsid="1" onclick="filterfactor.tClick(this);" />
                </p>
                <p><label for="para1-3">52英寸</label></p>
                </li>
                <li>
                <p class="checkbox">
                <input name="para1" type="checkbox" value="46" id="para1-4" rsid="1" onclick="filterfactor.tClick(this);" />
                </p>
                <p><label for="para1-4">46英寸</label></p>
                </li>
                <li>
                <p class="checkbox">
                <input name="para1" type="checkbox" value="40" id="para1-5" rsid="1" onclick="filterfactor.tClick(this);" />
                </p>
                <p><label for="para1-5">40英寸</label></p>
                </li>
                <li>
                <p class="checkbox">
                <input name="para1" type="checkbox" value="32" id="para1-6" rsid="1" onclick="filterfactor.tClick(this);" />
                </p>
                <p><label for="para1-6">32英寸</label></p>
                </li>
              </ul>
              <p class="clear"></p>
              <p class="filter_title">特色</p>
              <ul class="filter_list2 bar2_cont_ul_2" ftype="1">
                <li>
                <p class="checkbox">
                <input name="para2" type="checkbox" value="1" id="para2-0" rsid="2" onclick="filterfactor.tClick(this);">
                </p>
                <p><label for="para2-0">四色技术</label></p>
                </li>
                <li>
                <p class="checkbox">
                <input name="para2" type="checkbox" value="2" id="para2-1" rsid="2" onclick="filterfactor.tClick(this);">
                </p>
                <p><label for="para2-1">3D</label></p>
                </li>
                <li>
                <p class="checkbox">
                <input name="para2" type="checkbox" value="3" id="para2-2" rsid="2" onclick="filterfactor.tClick(this);">
                </p>
                <p><label for="para2-2">煌彩技术</label></p>
                </li>
                <li>
                <p class="checkbox">
                <input name="para2" type="checkbox" value="4" id="para2-3" rsid="2" onclick="filterfactor.tClick(this);">
                </p>
                <p><label for="para2-3">智能电视</label></p>
                </li>
                <li>
                <p class="checkbox">
                <input name="para2" type="checkbox" value="5" id="para2-4" rsid="2" onclick="filterfactor.tClick(this);">
                </p>
                <p><label for="para2-4">互联网电视</label></p>
                </li>
                <li>
                <p class="checkbox">
                <input name="para2" type="checkbox" value="6" id="para2-5" rsid="2" onclick="filterfactor.tClick(this);">
                </p>
                <p><label for="para2-5">WIFI</label></p>
                </li>
                <li>
                <p class="checkbox">
                <input name="para2" type="checkbox" value="7" id="para2-6" rsid="2" onclick="filterfactor.tClick(this);">
                </p>
                <p><label for="para2-6">数字电视一体机</label></p>
                </li>
                <li>
                <p class="checkbox">
                <input name="para2" type="checkbox" value="8" id="para2-7" rsid="2" onclick="filterfactor.tClick(this);">
                </p>
                <p><label for="para2-7">节能惠民补贴</label></p>
                </li>
              </ul>
              <p class="filter_icon"><a href="javascript:void(0);" onclick="filterfactor.tEmpty();">清空筛选条件</a></p>
            </div>
          </div>
        </div>
        <div id="prdlist_cont_filter" class="categ_right prdlist_cont" style="display:none" prevpagetext="上一页" nextpagetext="下一页">
          <div class="pager pager1">
            <div class="categ_r01">
              <p class="categ_rfont16">AQUOS Quattron3D</p>
              <p class="categ_rfont14">系列</p>
              <p class="categ_rfont12">显示
              <label id="prdlist_cont_filter_start_number">0</label>~
              <label id="prdlist_cont_filter_end_number">0</label>个产品/共
              <label id="prdlist_cont_filter_totalcount">0</label>个
            </div>
          </div>
          <p class="clear"></p>
          <div id="prdlist_cont1_filter" class="categ_rboxlist prdlist_cont1"></div>
          <div id="prdlist_cont1_filter_factory" class="categ_rboxlist" style="display:none">
            <div class="categ_rbox">
              <div class="categ_compare">
                <p class="checkbox">
                <input name="" type="checkbox" value="" />
                </p>
                <p>产品比较</p>
              </div>
              <p><a href="#"><img src="images/categories/television.jpg" alt="#" /></a></p>
              <p class="categ_rboxtext"><span><a href="#">GL系列</a></span> 80v/70v<br />
              对应4K分辨率，大画面</p>
              <p class="categ_rboxic"><a href="#">查看产品详情</a></p>
            </div>
          </div>
          <div class="pager"></div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      (function() {
       filterfactor.tChangeFilterDataListPage(1);
       })();
    </script>
    <p class="clear"></p>
    <div class="footer">
      <div class="back_ictop">
        <div class="back_top"><a href="#back_top">回到顶部</a></div>
        <p class="clear"></p>
        <ul class="footer_list">
          <p class="footer_title">产品信息</p>
          <li><a href="#">AQUOS液晶产品</a></li>
        </ul>
        <ul class="footer_list">
          <p class="footer_title">关联视听产品</p>
          <li><a href="#">3D眼镜</a></li>
          <li><a href="#">蓝光播放器</a></li>
          <li><a href="#">家庭影院</a></li>
          <li><a href="#">家庭音响系统</a></li>
          <li><a href="#">数码视听配件</a></li>
        </ul>
        <ul class="footer_list">
          <p class="footer_title">AQUOS液晶技术</p>
          <li><a href="#">超晶面板</a></li>
          <li><a href="#">4K分辨率技术</a></li>
          <li><a href="#">贵丽泷四色技术</a></li>
        </ul>
        <ul class="footer_list">
          <p class="footer_title">服务支持</p>
          <li><a href="#">常见问题</a></li>
          <li><a href="#">相关下载</a></li>
          <li><a href="#">咨询窗口</a></li>
          <li><a href="#">SMART TV升级</a></li>
        </ul>
        <p class="clear"></p>
        <div class="footer2">
          <p class="footer2_text">© 2011 夏普商贸（中国）有限公司 <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备08016514号</a></p>
          <ul>
            <li><a href="#"><img src="images/tmall.gif" /></a></li>
            <li><a href="#"><img src="images/weixin.gif" /></a></li>
            <li><a href="#"><img src="images/sina.gif" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
